
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: whitesmoke;
}
#ct{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* flex-wrap: wrap ; */
    overflow-x: scroll;
    padding: 30px;
    justify-content: center;
}

.comic{

    width: 400px;
    height: 480px;
    background-color: white;
    box-shadow: 0 0 1.5px black;
    padding: 20px;
    border-radius: 7px;
    overflow-y: scroll;
    
    >.img{
        width: 120;
        height: 200px;
    }
    
}
.comic::-webkit-scrollbar{
    display: none;
}

.name{
    color: blue;
    font-size: 25px;
}
.ep,.vb,.name,.fepisode,.vb,.voiceby{
   margin-bottom: 5px;
    
}
.ep,.vb{
    color: grey;
   
}

#right{
    
    border: none;
   
   font-size: 40px;
   
}
#left{
    border: none;
  
   font-size: 40px;
   
}
#left:hover{
    opacity: .6;
}
#right:hover{
    opacity: .6;
}
.bck{
    background:linear-gradient(rgba(52, 51, 51, 0.395),rgba(0, 0, 0, 0.455)),url(burger.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  
   
}
@font-face {
    font-family: myFirstFont;
    src: url("Bob\'s\ Burgers 2.ttf");
}
.bob{
   color: whitesmoke;
   font-size: 100px;
   text-transform: uppercase;
   font-family: myFirstFont;
   font-weight: 600; 
}



.footer{
    width: 100%;
    height: 100px;
    background-color: rgb(75, 70, 70);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center
}
.bur{
    font-size: 25px;
}
.bn{
    margin: auto;
    display: flex;
    justify-content: center;
    outline: none;
   
}
.api{
    width: 43%;
    box-shadow: 0 0 3px black;
    overflow-x: scroll;
    display: block;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; 
    margin-left: 10%;
    border-radius: 5px;
    margin: auto;
}
.api::-webkit-scrollbar{
    display: none;
}
#api{
    width: 650px;
    margin: auto;
    padding: 15px;
    height: 50px;
}
.btn{
    height: 50px;
    padding: 14px;
    background-color: blue;
    color: white;
    font-size: 18px;
    border-radius: 30px;
    font-weight: bold;
    border: none;
    margin: auto;
   
    
  
}
.iline{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.btn:hover{
    opacity: .5;
}
.h11{
    margin-left: 20px;
    padding: 10px;
    font-size: 30px;
    color: blue;
    
}

nav{
    position: sticky;
    top: 0;
    background-color: whitesmoke;

}
.h1{
    padding: 5px;
    font-size: 40px;
    padding-left: 30px;
    box-shadow: 1px 0 3px black;
    background-color:white;
    color: rgb(96, 79, 79);
    
    
    
}
 @media screen and (max-width: 730px) {

    .bob{
        font-size: 70px;
        margin-left: 30px;
        width: auto;
    }
    .bck{
        background-size: cover;
    }
  }

@media screen and (max-width: 540px) {
   
    .bck{
        background:linear-gradient(rgba(0, 0, 0, 0.405),rgba(0, 0, 0, 0.521)),url(burger.jpg);
        background-size: cover;
        background-position: center;
        height: 200px;
        width: auto;
        padding-top: 20px;
      
       
    }
    .iline{
        display: block;
        justify-content: space-around;
        align-items: center;
       
    }
    .btn{
        margin:20px 0 0 40%;
        padding: 5px;
        font-size: 15px;
        height: 40px;
    }
    .api{
        width: 80%;
        height: 50px;
        
    }
    .h11{
        text-align: center;
        font-size: 25px;
    }
    .h1{
        text-align: center;
        background-color: black;
        color: white;
        box-shadow: none;
        font-size: 30px;
    }
    .comic{

        width: 320px;
        height: 430px;
        background-color: white;
        box-shadow: 0 0 1.5px black;
        padding: 20px;
        border-radius: 7px;
        overflow-y: scroll;
        
        >.img{
            width: 100;
            height: 150px;
        }
        
    }
    .bob{
        font-size: 40px;
        
    }
  }
 